body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: right;
  background-color: black;
  padding: 10px;
  border: solid;
  border-color: yellow;
  margin: 15px;
}
div {
  width: 55%;
  background: url("k.jpg");
  background-color: green;
  padding: 10px;
/*  margin: 10;*/
}
button{
  background-color: red;
  border: none;
  color: yellow;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
 }
