body  {

  background-color: lightblue;
  padding: 10px;
  /*! border: solid; */
  border-color: red;
  margin: 10px;
}

h2 {
  color: red;
  padding: 10px;
  border: solid;
  border-color: black;
  margin: 10px;
}
}

li{
  background-color: black;
  padding: 10px;
  border: solid;
  border-color: black;
  margin: 20px;
}
