body {
background-image: url(wire.jpg);
border: solid;
border-color: orange;
}

.MAIN {
  background-color: green;
  text-align: center;
  margin: 0px;
}

.PLAYER {
  background-color: blue;
  text-align: center;
  margin: 0px;
}
